.advantages {
  padding: 50px 20px 44px;
  font-size: 14px;
  line-height: 20px;
}

.advantages__title {
  margin: 0 0 4px;
  text-align: center;
  text-transform: uppercase;
  color: @color-base-primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
}

.advantages__subtitle {
  margin: 0 0 36px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.advantages__heading {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.advantages__desc {
  margin: 0;
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 32px;
  list-style: none;
}

.advantages__item {
  text-align: center;
}
