.catalog {
  background-color: @color-lightest-grey;
  padding: 50px 20px 44px;
}

.catalog__title {
  margin: 0 0 4px;
  text-align: center;
  color: @color-base-primary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
}

.catalog__subtitle {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.catalog__select-wrapper {
  margin: 37px 0 36px;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  position: relative;
}

.catalog__select-wrapper-text {
  margin: 3px 0 0 0;
  text-align: right;
  font-weight: 600;
  line-height: 1.5;
}

.catalog__select {
  position: relative;
  padding: 4px 0;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: inherit;
  color: @color-base-primary;
  background-color: initial;
  border: none;
  cursor: pointer;
}

.catalog__control {
  text-align: center;
}
