.main-header {
  position: relative;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0 auto;
    min-height: 80px;
  }

  @media (min-width: @desktop) {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 20px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  &::before {
    width: 16px;
    height: 16px;
    background-color: currentColor;
  }

  @media (min-width: @tablet) {
    min-height: 80px;
  }

  &--user {
    @media (min-width: @desktop) {
      padding: 8px 41px 8px 70px;
    }
  }

  &:hover,
  &:focus {
    color: @color-base-primary;
  }

  &:active {
    background-color: @color-base-secondary;

    @media (min-width: @tablet) {
      color: @color-base-primary;
    }
  }
}

.main-header__title {
  display: none;
  margin: 5px 0 0 20px;
  width: 130px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: @desktop) {
    display: block;
    margin: 14px 0 0 20px;
  }
}

.main-header__profile {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  min-width: 120px;
  margin: 0 0 0 auto;

  @media (min-width: @tablet) {
    order: 2;
    margin: 0;
  }
}

.main-header__profile-title {
  display: none;

  @media (min-width: @desktop) {
    display: block;
    margin-left: 8px;
  }
}

.main-header__nav {
  @media (max-width: 767px) {
    order: 3;
  }
}

.main-header__logo-image {
  display: block;
  align-items: center;

  @media (min-width: @tablet) {
    padding: 10px 0;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    display: contents;
  }
}

.main-header__logos {
  padding: 11px 0 11px 20px;

  @media (min-width: @mobile) {
    display: flex;
  }

  @media (min-width: @desktop) {
    padding: 11px 0;
  }
}


.main-header--closed .main-nav__list {
  @media (max-width: @mobile) {
    display: none;
  }
}

.main-header--nojs .main-nav__toggle {
  @media (max-width: @mobile) {
    display: none;
  }
}

.main-header--nojs .main-nav__list {
  @media (max-width: @mobile) {
    display: block;
    position: relative;
  }
}

.main-header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: initial;
  min-width: 60px;
  min-height: 60px;
  padding: 20px;
  text-align: center;
  color: inherit;
  cursor: pointer;
  border: none;

  &::before {
    width: 16px;
    height: 16px;
    content: "";
    background: url("../../img/icons/stack.svg#menu") no-repeat center/100%;
  }

  @media (min-width: @tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    color: @color-base-primary;
  }

  &:active {
    background-color: @color-base-secondary;

    @media (min-width: @tablet) {
      color: @color-base-primary;
    }
  }
}
